<% for (var i = 0; i < schools.length; i++) { %>
<div class="school">
	<h1><%= schools[i].name %></h1>
	<h2><a href="<%= schools[i].url %>"><%= schools[i].url %></a></h2>
	<p class="description"><%= schools[i].description %></p>

	<a href="#">More Info &gt;</a>
	<div class="related_disciplines">
		<ul>
			<% for (var j = 0; j < schools[i].disciplines.length; j++) { %>
				<li class="<%= toClassName (schools[i].disciplines[j]) %> of_<%= schools[i].disciplines.length %>"><span><%= schools[i].disciplines[j] %></span></li>
			<% } %>
		</ul>
	</div>
</div>
<% } %>