<%
	for (var i = 0; i < schools.length; i++) {
		var school = schools[i];
		for (var j = 0; j < school.programs.length; j++) {
			var program = school.programs[j];
%>
			<div class="school">
				<h1><%= program.name %> (<%= school.name %>)</h1>
				<h2><a href="<%= program.url %>"><%= school.url %></a></h2>
				<p class="description"><%= program.description %></p>

				<a href="#">More Info &gt;</a>
				<ul class="related_disciplines">
					<%
						for (var k = 0; k < program.disciplines.length; k++) {
							var discipline = program.disciplines[k];
					%>
						<li class="<%= toClassName (discipline) %> of_<%= program.disciplines.length %>"><span><%= discipline %></span></li>
					<%
						}
					%>
				</ul>
			</div>
<%
		}
	}
%>