<%
	for (var i = 0; i < schools.length; i++) {
		var school = schools[i];
		for (var j = 0; j < school.programs.length; j++) {
			var program = school.programs[j];
%>
			<div class="school">
				<h1><%= program.name %></h1>
				<h2><%= school.name %></h2>
				<h3><a href="<%= program.url %>"><%= program.url %></a></h3>

				<p class="description"><%= truncateAt(program.description, 120) %></p>

				<ul class="discipline-tags">
					<%
						for (var k = 0; k < program.disciplines.length; k++) {
							var discipline = program.disciplines[k];
					%>
						<li class="<%= toClassName (discipline) %>"><a href="#"><%= discipline %></a></li>
					<%
						}
					%>
				</ul>
			</div>
<%
		}
	}
%>